<!DOCTYPE html>
<html lang="en">

<link rel="shortcut icon" href="./color-star-3-217610/color-star-3-32-217610.png" />
<head>
  <title>Artshare API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body class="Site">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand jl-link" style="color:white;" href="/">ARTSHARE API</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#"></a></li>

      </ul>
    </div>
  </nav>

    <div class="jumbotron">

      <div class="container text-center">
        <H1>Artshare API</H1>
        <img src="./color-star-3-217610/color-star-3-64-217610.png" width="64" height="64" alt="color wheel" />

        <p>Welcome to the ARTSHARE API</p>
        <p>An express api written by Jesse Lewis. <a href="http://www.jesselewis.work">www.jesselewis.work</a></p>

        <h2>API Routes</h2>
        <p>Get all artworks: <a href="/artworks">/artworks</a></p>



        <h2>Artshare Front-End</h2>
        <p>View the artshare front-end on Heroku at <a href="https://artshare-react.herokuapp.com/" target="_blank">https://artshare-react.herokuapp.com</a></p>


      </div>
    </div>

</body>
</html>
